{% extends 'base.html.twig' %}

{% block title %}Reponse index{% endblock %}

{% block body %}
    <h1>Reponse </h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Repmessage</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for reponse in reponses %}
            <tr>
                <td>{{ reponse.id }}</td>
                <td>{{ reponse.repmessage }}</td>
                <td>
                    <a href="{{ path('reponse_edit', {'id': reponse.id}) }}" class="btn btn-primary">Ajouter</a>
                    <a href="{{ path('reponse_show', {'id': reponse.id}) }}" class="btn btn-dark">Afficher</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}
