{% extends 'base.html.twig' %}

{% block title %}New Blogueur{% endblock %}

{% block body %}
    <h1>Create new Blogueur</h1>

    {{ include('blogueur/_form.html.twig') }}

    <a href="{{ path('blogueur_index') }}">back to list</a>
{% endblock %}
